<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h1 [class.isActive]="isActive" [class.color]="color">customer-manager {{customer.name}} </h1>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-8">
          <p>Opis: {{customer.description}} </p>
          <p>Wiek: {{customer.age}} </p>
          <p>Adres: Miasto {{customer.address.city}}, Ulica: {{customer.address.street}}, numer posesji:
            {{customer.address.houseNumber}} </p>
          <button class="btn btn-primary" (click)="changeIsActive()">zmiana podkreślenia</button>
          <button class="btn btn-primary" (click)="changeColor()">przełącz kolor</button>
        </div>
        <div class="col-sm-4">
          <img [src]="customer.photoUrl" class="img-fluid">
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <input type="text" [(ngModel)]="customer.name" [ngModelOptions]="{updateOn:'blur'}">
<button type="button" class="btn btn-primary"> Primaryy </button> -->
